#participants
{
	margin-left: auto;
    width: 30%;
	min-width:120px;
    max-width: 500px;
	
    height: calc(50% - 80px - 40px - 60px);
    padding: 10px;
    padding: 10px;
    background: #fff;
    border-radius: 14px;
    box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, 0.3);
	float:right;
	overflow-y:auto;
	overflow-x: hidden;
}

#participants>p
{
	font-type:bold;
	font-size: medium;
    margin-top: 0;
    margin-bottom: 0;	
}
#participants > p:nth-child(2n) {
	 background:rgba(226, 226, 226);
		

}


#container-grid 
{
	display: grid;
	grid-template-columns: auto 500px 100px auto;
	height: calc(100% - 80px - 40px - 60px);
}


