﻿html, body {
	height:100%;
	margin:0;
	padding:0;
	overflow:hidden;
}
body {
	background:#888;
	color:#555;
	text-align:center;
	font-family:Arial;
}
h1 {
	color:#fff;
	text-transform:uppercase;
	text-shadow:0px 0px 20px rgba(0, 0, 0, 0.4);
}
#chat {
	position:relative;
	margin:0 auto;
	width:70%;
	max-width:500px;
	height: calc(100% - 80px - 40px - 60px); /* 80px = marge haute, 40px = marge basse, 60px = padding vertical */
	padding:30px;
	background:#fff;
	border-radius:14px;
	font-size:0;
	box-shadow:0px 0px 20px 0 rgba(0, 0, 0, 0.3);
	float:left;
}

#messages {
	height:calc(100% - 15px - 60px); /* 15px = padding-top, 60px = formulaire en dessous  */
	padding-top:15px;
	width:100%;
	overflow-y:scroll;
	margin-bottom:20px;
	font-size:12px;
	border-top-left-radius:8px;
	border-bottom-left-radius:8px;
	border-right: solid 1px #eaeaea;
    border-bottom: solid 2px #DDD;
	background:#eee;
	text-align: left;
	position: relative;
}

#messages .message {
	padding:4px 20px;
	display: flex;
	align-items: start;
}
#messages .message:nth-child(2n) {
	background:rgba(0, 0, 0, .02);
}
#message-input {
	display:inline-block;
	border:solid 2px #888;
	width:calc(100% - 242px);
	padding:0 20px;
	height:31px;
	border-top-left-radius:8px;
	border-bottom-left-radius:8px;
	border-right:none;
	transition:all .4s;
	margin-bottom:4px;
}
#send-message {
	display:inline-block;
	border:solid 2px #888;
	background:0;
	width:100px;
	padding:8px 0;
	text-transform:uppercase;
	font-weight:bold;
	color:inherit;
	background:#888;
	color:#fff;
	border-top-right-radius:8px;
	border-bottom-right-radius:8px;
	cursor:pointer;
	transition:all .4s;
}
#message-input:focus {
	outline:none;
	border-color:#666;
}
#send-message:focus {
	outline:none;
}
#message-input:focus + #send-message {
	border-color:#666;
	background:#777;
}
#messages .message .user {
	font-weight:bold;
	margin-right: 3px;
	margin-top: 7px;
}
#messages .message .user-message {
	margin-top: 7px;
}
#messages .message .user:after {
	content:': ';
}

/*module emoji*/
#emoji
{
	display:flex;
	margin:auto;
	width:fit-content;
	background:#fff;
	border-radius:14px;
	padding:5px;
	
	
}
#emoji>div
{
	margin:auto;
	font-size:40px;
}

/* Module Daffy */
.daffy {
    background: url(modules/daffy/daffy.gif) no-repeat;
    background-size: contain;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 0px 10px;
    vertical-align: middle;
	font-size:0;
}

/* Module NaziBot */
.imageNaziBot {
		display: inline-block;
		margin: 0px 10px;
		vertical-align: middle;
		font-size: 0;
}
.knitler {
		background: url(modules/nazibot/knitler.jpg) no-repeat;
		background-size: contain;
		width: 100px;
		height: 100px;
}

.nudes {
	  background: url(modules/nazibot/hitlernu.jpg) no-repeat;
		background-size: contain;
		width: 100px;
		height: 100px;
}

/* Module Perceval */
.imagePerceval {
	background-image: url('./modules/perceval/perceval.png');
	height: 200px;
	width: 200px;
	background-repeat: no-repeat;
}
.divPerceval {
	position: fixed;
	bottom: 0;
	right: 0;
	height: 200px;
	width: 200px;
}
.animationPerceval {
	animation-name: perceval;
	animation-duration: 5s;
	animation-iteration-count: 1;
}
@keyframes perceval {
	0% {bottom: -200px;}
	33%{bottom: 0px;}
	66%{bottom: 0px;}
	100% {bottom: -200px;}
}

/* Module Basket */
.ball {
	border-radius:50%;
	width:80px;
	height:80px;
	position:absolute;
	top:100px;
	left:50%;
	background:url('modules/basket/ball.png') no-repeat;
	background-size:contain;
	transform-origin:center;
	z-index:2;
}
#basket-net {
	position:absolute;
	top:300px;
	right:0;
	width:150px;
	height:150px;
}
#basket-net #back,
#basket-net #front {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
#basket-net #back {
	background:url('modules/basket/basket-net-back.png') no-repeat;
	background-size:contain;
	z-index:0;
}
#basket-net #front {
	background:url('modules/basket/basket-net-front.png') no-repeat;
	background-size:contain;
	z-index:2;
}
#others-mouse-pos {
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:1;
	pointer-events:none;
}
#others-mouse-pos > .mouse-pos {
	position:absolute;
	width:20px;
	height:20px;
	transform:translateX(-50%) translateY(-50%);
	border-radius:50%;
}
#basket-scores {
	position: absolute;
    right: 0;
    top: 100px;
    text-align: right;
    padding: 5px 10px;
    background: #bc663c;
    font-size: 12px;
    line-height: 2;
	font-weight:bold;
}
.basket-score {
	position:absolute;
	font-size:60px;
	color:#bc663c;
	font-weight:bold;
}

/* Module Smiley */
.smiley
{
	background-repeat: no-repeat;
	font-size: 0px;
	display: inline-block;
	width: 15px;
	height: 15px;
	vertical-align: top;
}
.smiley-smiling 
{
	background-image : url("modules/smiley/smiley-smiling.png");
}
.smiley-heart
{
	background-image : url("modules/smiley/smiley-heart.png");
}
.smiley-tongue
{
	background-image : url("modules/smiley/smiley-tongue.png");
}
.smiley-frowning-face
{
	background-image : url("modules/smiley/smiley-frowning-face.png");
}
.smiley-winking-face
{
	background-image : url("modules/smiley/smiley-winking-face.png");
}
.smiley-open-mouth
{
	background-image : url("modules/smiley/smiley-open-mouth.png");
}
.smiley-tears-of-joy
{
	background-image : url("modules/smiley/smiley-tears-of-joy.png");
}
.smiley-dizzy-face
{
	background-image : url("modules/smiley/smiley-dizzy-face.png");
}

/* Module bgcolor */
#div-background {
	position: absolute;
	top: 0;
	left: 0;
	font-size: 0.7em;
	width: 80px;
	height: 90px;
	background-color: white;
	padding: 5px;
	border-radius: 7px;
}
.bg-color {
	width: 20px;
	height: 20px;
	display: inline-block;
	border-radius: 50%;
}
.bg-color.red {
	background-color: red;
}
.bg-color.pink {
	background-color: pink;
}
.bg-color.blue {
	background-color: blue;
}
.bg-color.green {
	background-color: green;
}
.bg-color.yellow {
	background-color: yellow;
}
.bg-color.orange {
	background-color: orange;
}
.bg-color.purple {
	background-color: purple;
}
.bg-color.grey {
	background-color: grey;
}
.bg-color.black {
	background-color: black;
}

/* Module Giphy */
#search-gif{
	display:inline-block;
	border:solid 2px #888;
	background:0;
	width:100px;
	padding:8px 0;
	font-weight:bold;
	color:inherit;
	background:#888;
	color:#fff;
	border-top-right-radius:8px;
	border-bottom-right-radius:8px;
	cursor:pointer;
	transition:all .4s;
}

.popup {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 10px;
	-webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}
.popup .popuptext {
    width: 160px;
    background-color: #b1b1b1;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 20px;
    top:50px;
    right:150px;
}

.popup-wrapper{
	position: relative;
}

#result-gif{
	top: 0;	
	width: 160px;
	border-radius: 6px;
	font-size: 10px;
	position: relative;
	bottom: -3rem;
	left: 50%;
	transform: translateX(-50%);
}

.gif-frame{
	pointer-events:none;
}


/* Module Avatar */
.avatar {
	object-fit: cover;
	width: 30px;
	height: 30px;
	border-radius: 50px;
	margin-right: 3px;
}
#send-avatar {
	display:none;
    border: none;
	width: 100px;
	font-size: 14px;
    padding: 5px;
    text-transform: uppercase;
    font-weight: bold;
    background: #888;
    color: #fff;
    cursor: pointer;
	transition: all .4s;
	margin:0 10px;
}

#avatar {
	display: none
}

.add-avatar-container{
	display:flex;
	flex-direction: row;
	position: absolute;
    bottom: 25px;
	right: -50px;
	background-color: lightgray;
}
.upload-avatar{
	display:flex;
	justify-content: center;
	align-items:center;
	z-index:-1;
	background-color:#888;
	opacity:0;
	transition: opacity 0.5s ease 300ms;
}
#default-avatar, #new-avatar {
	width: 50px;
	height: 50px;
	cursor: pointer;
	border: none;
	position:inherit;
	left: 0;
}

/* Styles texte */
#div-styletxt {
	position: absolute;
	bottom: 10%;
	left: 0;
	font-size: 0.7em;
	width: 15%;
	height: 90px;
	padding: 5px;
}
#div-styletxt button {
	border-radius: 7px;
	padding: 5px;
	background-color: white;
	border: none;
	margin: 7px;
	display: block;
}
#div-styletxt button:hover {
	border-radius: 7px;
	padding: 5px;
	background-color: black;
	color: white;
}

.message iframe{
	border: none;
}